[Desktop Entry]
Name=AirTray
Exec=airtray %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.introini.airtray
Categories=COSMIC;Utility;
Keywords=Airplay;System;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
